html {
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  nopre font-family: sans-serif;
}

span {
  display: block;
  font-size: 300px;
  text-align: center;
}

h1 {
  text-align: center;
  margin: auto;
  padding-bottom: 30px;
}

h2 {
  text-align: center;
  margin: auto;
}

h1, h2 {
  width: 50%;
  color: #C4DDFF;
}

a {
  text-decoration: none;
}

.homepage {
  display: inline-block;
  padding: 50px;
  border: solid black 1px;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 20px;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.homepage:hover {
  background-color: #F4D03F;
  background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
}
