body {
width: 100%;
font-size: 20px;
line-height: 1.5;
margin: 0;
/*background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
*/
background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

}
.myphoto {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  margin-top: 100px;
  border-radius: 20px;
  border: solid black 5px;
  border-top: none;
  border-left: none;

}
.intro {
  text-align: center;
  font-family: cursive;
  line-height: 1;
}
h1 {
  color: #C4DDFF;
}
.topdiv {
  padding-bottom: 40px;

}
.heading {
  margin: auto;
  text-align: center;
  font-family: cursive;
  font-size: 45px;
  padding-bottom: 40px;
  text-decoration: underline;
  color: #C4DDFF;
}
.skill1 {
  padding-bottom: 60px;

}
.cpp {
  border-radius: 45%;
  width: 30%;
  float: left;
  margin-right: 20px;
}


.cpptext, .cpptitle {
  position: relative;
  left: 20px;
  text-align: left;
}

/*.skill2 {
  padding-bottom: 60px;
  padding-top: 60px;
  padding-right: 200px;
}*/
.py {
  border-radius: 40%;
  width: 30%;
  float: right;
  margin-left: 20px;

}
.pytext, .pytitle {
  position: relative;
  right: 20px;
  text-align: right;
}
.fed {
  border-radius: 40%;
  width: 35%;
  float: left;
  margin-right: 20px;
}
.middlediv {
  width: 50%;
  margin: 60px auto 100px auto;
}

/*.fed {
  width: 200px;
  border-radius: 45%;
  float: left;
}*/
.fedtext, .fedtitle {
  position: relative;
  left: 20px;
  text-align: left;
}
/*.skill3 {
  padding-bottom: 30px;
  padding-top: 60px;
  padding-left: 200px;
  padding-top: 0px;
}*/


hr {
  width: 7%;
  border: dotted 8px;
  border-bottom: none;
  border-color: #6a82fb;

}

h2 {
  font-family: monospace;
   color: #C4DDFF;
}
p {
  font-family: sans-serif;
  color: #3C2C3E;
  margin: 0 500 0 500;
}
img {
  border: solid black 2px;
  width: 50%;

}

.tcloud {
  width: 15%;
  position: absolute;
  right: 300px;
  top: 50px;
  border: none;
}

.h2intro {
  text-align: center;
  font-family: cursive;
  padding-top: 80px;
  padding-bottom: 0px;
  margin-bottom: 0;
  font-size: 50px;

}
.pintro {
  text-align: center;
  font-family: cursive;
  color: #C4DDFF;
  padding-bottom: 0px;
}
.mountain {

  display: block;
  margin: auto;
  border: none;

}
.bcloud {
  width: 15%;
  position: relative;
  border: none;
  bottom: 350px;
  left: 300px;
}

footer {
display: block;
position: relative;
padding-bottom: 80px;
background-color: #FA8BFF;
background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
width: 100%;
margin-right: 60px;
border-radius: 8px;
}




.contact {
  margin: auto;
  display: block;
  text-align: center;
  padding-bottom: 30px;


}

a {
  border: solid black 1px;
  padding: 3px 10px 3px 10px;
  font-family: monospace;

}
.facebook {
position: absolute;
right: 15%;
text-decoration: none;
border-radius: 8px;
font-weight: bold;
background-color: #1c11d1;
background-image: linear-gradient(68deg, #1c11d1 0%, #ffffff 50%);




}
.mail {
  position: absolute;
  right: 46%;
  border-radius: 8px;
  text-decoration: none;
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);


  font-weight: bolder;
  color: green;
}
.phone {
  position: absolute;
  left: 15%;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  background-color: #52ACFF;
  color: white;

}

.phone:hover {
  background-color: #52ACFF;
background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);

}
.facebook:hover {
  background-color: #52ACFF;
  background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);

}
.mail:hover {
  background-color: #52ACFF;
background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);

}
